Opening file

In [39]:
import pandas as pd

path='C:/Users/COMPUMARTS/Downloads/data_cleaning/Cafe data cleaning/cafe_sales.csv'
df=pd.read_csv(path)
# df.head(25)

Replace spaces in columns to avoid any errors

In [ ]:
# df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['Transaction_ID', 'Item', 'Quantity', 'Price_Per_Unit', 'Total_Spent',
       'Payment_Method', 'Location', 'Transaction_Date'],
      dtype='object')

Drop unnecessary columns or columns that hard to fill its null values

In [41]:
df=df.drop(columns='Transaction_Date')
df.isna().sum()

Transaction_ID       0
Item               333
Quantity           138
Price_Per_Unit     179
Total_Spent        173
Payment_Method    2579
Location          3265
dtype: int64

Now standardizing all null values

In [42]:
df = df.replace({'UNKNOWN':pd.NA, 'NaN':pd.NA , 'ERROR':pd.NA})
df.head()
# df.to_csv('C:/Users/COMPUMARTS/Downloads/data_cleaning/dirty_cafe_sales_saved.csv')

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store
2,TXN_4271903,Cookie,4,1.0,<NA>,Credit Card,In-store
3,TXN_7034554,Salad,2,5.0,10.0,<NA>,<NA>
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store

Fill the Quantity null values
    by dividing the Total_Spent in Price_Per_Unit
    to insure getting the right values

In [43]:
 #! we used pd.to_numeric instead of df.astype to avoid the problems that may happen cause of null values
df['Total_Spent'] = pd.to_numeric(df['Total_Spent'], errors='coerce')
df['Price_Per_Unit'] = pd.to_numeric(df['Price_Per_Unit'], errors='coerce')


df['Quantity'] = df.apply(# i here is a row in the data frame
    lambda i: i['Total_Spent']/i['Price_Per_Unit'] if pd.isna(i['Quantity']) else i['Quantity'],axis=1)
# df.head()

Here we try to fill up Total_Spent column after we filled quantity column

In [44]:
df['Quantity'] = df['Quantity'].astype('float')
df['Total_Spent']=df.apply(
    lambda i:i['Quantity']*i['Price_Per_Unit'] if pd.isna(i['Total_Spent']) else i['Total_Spent'],axis=1)
# df.tail(60)

Now we will try to fill Price_per_Unit after we filled Quantity and Total_Spent columns

In [45]:
df['Price_Per_Unit'] = df.apply(
	lambda row: row['Total_Spent']/row['Quantity'] if pd.isna(row['Price_Per_Unit']) else row['Price_Per_Unit'],
	axis=1
)
df.tail(60)

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location
9940,TXN_8273780,Salad,2.0,5.0,10.0,Digital Wallet,Takeaway
9941,TXN_4224427,Juice,4.0,3.0,12.0,Cash,Takeaway
9942,TXN_5344848,Salad,1.0,5.0,5.0,Digital Wallet,Takeaway
9943,TXN_6411708,Coffee,4.0,2.0,8.0,Credit Card,In-store
9944,TXN_7495283,Cake,5.0,3.0,15.0,Credit Card,Takeaway
9945,TXN_8153550,Cookie,2.0,1.0,2.0,Cash,Takeaway
9946,TXN_8807600,<NA>,1.0,4.0,4.0,Cash,Takeaway
9947,TXN_5921442,Smoothie,4.0,4.0,16.0,Cash,Takeaway
9948,TXN_9496697,Tea,1.0,1.5,1.5,NaN,In-store
9949,TXN_3130865,Juice,3.0,3.0,9.0,NaN,In-store
9950,TXN_2818204,Cake,1.0,3.0,3.0,Digital Wallet,NaN
9951,TXN_4122925,<NA>,4.0,1.0,4.0,NaN,Takeaway
9952,TXN_9407169,Sandwich,1.0,4.0,4.0,Digital Wallet,NaN
9953,TXN_8966400,Cake,5.0,3.0,15.0,Credit Card,Takeaway
9954,TXN_1191659,Coffee,4.0,2.0,8.0,Credit Card,In-store
9955,TXN_9187008,Tea,4.0,1.5,6.0,<NA>,NaN
9956,TXN_1958525,Cookie,3.0,1.0,3.0,NaN,Takeaway
9957,TXN_6487003,Coffee,4.0,2.0,8.0,Credit Card,Takeaway
9958,TXN_4125474,<NA>,2.0,5.0,10.0,Credit Card,In-store
9959,TXN_4556831,Juice,2.0,3.0,6.0,Digital Wallet,In-store
9960,TXN_3546629,Juice,5.0,3.0,15.0,NaN,In-store
9961,TXN_2153100,Tea,2.0,1.5,3.0,Cash,NaN
9962,TXN_4723089,Sandwich,4.0,4.0,16.0,Cash,In-store
9963,TXN_8545707,Cake,5.0,3.0,15.0,NaN,Takeaway
9964,TXN_8938445,Cake,3.0,3.0,9.0,NaN,In-store
9965,TXN_5846013,Tea,2.0,1.5,3.0,Digital Wallet,NaN
9966,TXN_6494265,Coffee,2.0,2.0,4.0,NaN,NaN
9967,TXN_8563793,Juice,4.0,3.0,12.0,NaN,In-store
9968,TXN_8866974,Smoothie,3.0,4.0,12.0,Digital Wallet,Takeaway
9969,TXN_9954652,Coffee,2.0,2.0,4.0,Cash,In-store
9970,TXN_5762440,Sandwich,5.0,4.0,20.0,Cash,In-store
9971,TXN_6120851,Salad,5.0,5.0,25.0,Cash,Takeaway
9972,TXN_3124078,Cake,4.0,3.0,12.0,<NA>,In-store
9973,TXN_7936002,Salad,2.0,5.0,10.0,Digital Wallet,NaN
9974,TXN_8076061,Tea,4.0,1.5,6.0,Cash,In-store
9975,TXN_9668108,Cake,1.0,3.0,3.0,Cash,In-store
9976,TXN_3528020,Cookie,1.0,1.0,1.0,NaN,Takeaway
9977,TXN_5548914,Juice,2.0,3.0,6.0,Digital Wallet,In-store
9978,TXN_4302199,Tea,3.0,1.5,4.5,NaN,NaN
9979,TXN_9933628,Smoothie,5.0,4.0,20.0,Cash,In-store
9980,TXN_6796890,Tea,4.0,1.5,6.0,<NA>,NaN
9981,TXN_4583012,<NA>,5.0,4.0,20.0,Digital Wallet,NaN
9982,TXN_8567525,Cookie,2.0,1.0,2.0,NaN,Takeaway
9983,TXN_9226047,Smoothie,3.0,4.0,12.0,Cash,NaN
9984,TXN_3142496,Smoothie,1.0,4.0,4.0,Cash,Takeaway
9985,TXN_3297457,Cake,2.0,3.0,6.0,NaN,<NA>
9986,TXN_2858441,Sandwich,2.0,4.0,8.0,Credit Card,In-store
9987,TXN_1784478,Juice,5.0,3.0,15.0,Cash,NaN
9988,TXN_9594133,Cake,5.0,3.0,15.0,<NA>,NaN
9989,TXN_1741685,Juice,5.0,3.0,15.0,Cash,NaN
9990,TXN_1538510,Coffee,5.0,2.0,10.0,Digital Wallet,NaN
9991,TXN_3897619,Sandwich,3.0,4.0,12.0,Cash,Takeaway
9992,TXN_2739140,Smoothie,4.0,4.0,16.0,<NA>,In-store
9993,TXN_4766549,Smoothie,2.0,4.0,8.0,Cash,NaN
9994,TXN_7851634,<NA>,4.0,4.0,16.0,NaN,NaN
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,<NA>
9996,TXN_9659401,NaN,3.0,1.0,3.0,Digital Wallet,NaN
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store

In [46]:
df.isna().sum()

Transaction_ID       0
Item               969
Quantity            38
Price_Per_Unit      38
Total_Spent         40
Payment_Method    3178
Location          3961
dtype: int64

To Check why some values are null

In [47]:
null_index = df[df['Price_Per_Unit'].isna()].index
print(df.isnull().sum())
for i in null_index:
    print(df.loc[i, ['Price_Per_Unit','Quantity','Total_Spent']])

Transaction_ID       0
Item               969
Quantity            38
Price_Per_Unit      38
Total_Spent         40
Payment_Method    3178
Location          3961
dtype: int64
Price_Per_Unit    NaN
Quantity          3.0
Total_Spent       NaN
Name: 65, dtype: object
Price_Per_Unit     NaN
Quantity           NaN
Total_Spent       12.0
Name: 629, dtype: object
Price_Per_Unit     NaN
Quantity           NaN
Total_Spent       20.0
Name: 912, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       3.0
Name: 1008, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       6.0
Name: 1436, dtype: object
Price_Per_Unit     NaN
Quantity           NaN
Total_Spent       16.0
Name: 1482, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 1674, dtype: object
Price_Per_Unit    NaN
Quantity          4.0
Total_Spent       NaN
Name: 1761, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 2229, dtype: object
Price_Per_Unit    NaN
Quantity          4.0
Total_Spent       NaN
Name: 2289, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       5.0
Name: 2330, dtype: object
Price_Per_Unit    NaN
Quantity          3.0
Total_Spent       NaN
Name: 2585, dtype: object
Price_Per_Unit    NaN
Quantity          3.0
Total_Spent       NaN
Name: 3162, dtype: object
Price_Per_Unit    NaN
Quantity          1.0
Total_Spent       NaN
Name: 3598, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       1.0
Name: 3635, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 3673, dtype: object
Price_Per_Unit     NaN
Quantity           NaN
Total_Spent       25.0
Name: 3779, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 4021, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 4152, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       6.0
Name: 5639, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       8.0
Name: 5845, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       2.0
Name: 6225, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       1.0
Name: 6661, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       4.0
Name: 6674, dtype: object
Price_Per_Unit    NaN
Quantity          5.0
Total_Spent       NaN
Name: 7035, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 7230, dtype: object
Price_Per_Unit    NaN
Quantity          5.0
Total_Spent       NaN
Name: 7244, dtype: object
Price_Per_Unit    NaN
Quantity          5.0
Total_Spent       NaN
Name: 7568, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       9.0
Name: 7597, dtype: object
Price_Per_Unit    NaN
Quantity          5.0
Total_Spent       NaN
Name: 7686, dtype: object
Price_Per_Unit    NaN
Quantity          3.0
Total_Spent       NaN
Name: 8128, dtype: object
Price_Per_Unit    NaN
Quantity          3.0
Total_Spent       NaN
Name: 8497, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       3.0
Name: 8669, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       7.5
Name: 8975, dtype: object
Price_Per_Unit    NaN
Quantity          1.0
Total_Spent       NaN
Name: 9212, dtype: object
Price_Per_Unit    NaN
Quantity          NaN
Total_Spent       3.0
Name: 9464, dtype: object
Price_Per_Unit     NaN
Quantity           NaN
Total_Spent       20.0
Name: 9819, dtype: object
Price_Per_Unit    NaN
Quantity          2.0
Total_Spent       NaN
Name: 9893, dtype: object

To delete the null values that we can't find it

In [48]:
df=df.dropna(subset=['Quantity'])
df=df.dropna(subset=['Price_Per_Unit'])
df=df.dropna(subset=['Total_Spent'])
# print(df.isnull().sum())
df.shape

(9942, 7)

Now replacing the null values in Payment_Method and Location with mode

In [49]:
P_mode=df['Payment_Method'].mode()[0]
df['Payment_Method'].fillna(P_mode,inplace=True)

L_mode=df['Location'].mode()[0]
df['Location'].fillna(L_mode,inplace=True)
print(df.isnull().sum())

Transaction_ID      0
Item              963
Quantity            0
Price_Per_Unit      0
Total_Spent         0
Payment_Method      0
Location            0
dtype: int64

C:\Users\COMPUMARTS\AppData\Local\Temp\ipykernel_20788\3132539126.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment_Method'].fillna(P_mode,inplace=True)
C:\Users\COMPUMARTS\AppData\Local\Temp\ipykernel_20788\3132539126.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna(L_mode,inplace=True)

Now we will get the unique values in Item column to try to replace the null values in it

In [50]:
unique_items = df['Item'].unique()
unique_prices = df['Price_Per_Unit'].unique()
print(unique_items)
print(unique_prices)
# df[['Item','Price_Per_Unit']].head()

['Coffee' 'Cake' 'Cookie' 'Salad' 'Smoothie' <NA> 'Sandwich' nan 'Juice'
 'Tea']
[2.  3.  1.  5.  4.  1.5]

In [51]:
 #! cause of we have two products with the same price we replaced it with the mode
df.loc[df['Price_Per_Unit']==1.0,'Item']='Cookie'
df.loc[df['Price_Per_Unit']==1.5,'Item']='Tea'
df.loc[df['Price_Per_Unit']==2.0,'Item']='Coffee'
df.loc[df['Price_Per_Unit']==3.0,'Item']=df['Item'].mode()[0]
df.loc[df['Price_Per_Unit']==4.0,'Item']='Smoothie'
df.loc[df['Price_Per_Unit']==5.0,'Item']='Salad'
print(df.isna().sum())

Transaction_ID    0
Item              0
Quantity          0
Price_Per_Unit    0
Total_Spent       0
Payment_Method    0
Location          0
dtype: int64

In [52]:
print(df.isna().sum())

Transaction_ID    0
Item              0
Quantity          0
Price_Per_Unit    0
Total_Spent       0
Payment_Method    0
Location          0
dtype: int64

In [53]:
df.to_csv('C:/Users/COMPUMARTS/Downloads/data_cleaning/Cafe data cleaning/clean_cafe_sales_saved.csv')